<!DOCTYPE html>
<html>
<head>
	<title>Horaire train</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
	</script>

	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
	</script>

	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
		rel="stylesheet" type="text/css" />
</head>
<body>
	<h1></h1>
    <form action="" method="get">
        Gare de départ: <input type="text" name="from_stop_area" id="stop_area">
        Gare de d'arrivé: <input type="text" name="to_stop_area">
        <input type="submit" value="Afficher le prochain train">
    </form>

	<script>
		$( function() {
		  var availableTags = [
			  {% for stop_area in stop_areas %}
				  "{{stop_areas }}",
			  {% endfor %}
		  ];
		  $( "#tags" ).autocomplete({
			source: availableTags
		  });
		} );
	</script>
</body>
</html>
